<h2>Books</h2>

<router-outlet></router-outlet>

<mat-card-actions>
  <a mat-button [routerLink]="['/']">
    <b>Go back</b>
  </a>
</mat-card-actions>

<div style="margin-bottom: 10px">
  <a mat-mini-fab routerLink="/create" color="primary">
    <mat-icon>add</mat-icon>
  </a>
</div>

<div style="margin-bottom: 10px" *ngFor="let book of books$ | async">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <i class="material-icons">event</i>
      </div>
      <mat-card-title>
        <a mat-button [title]="book.title + ' details'" [routerLink]="['/books', book.id]">
          <b>{{book.title}}</b>
        </a>
      </mat-card-title>
      <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
      <mat-card-subtitle>{{book.published}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>