<div style="margin: 2rem">
  <h3>Create a new book</h3>
  <p>
    <a mat-button routerLink="/books" color="primary">
      <b>Back to books</b>
    </a>
  </p>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>ISBN number</mat-label>
        <input matInput placeholder="ISBN" formControlName="isbn">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Book title</mat-label>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Books's author</mat-label>
        <input matInput placeholder="Author" formControlName="author">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Books's publication year</mat-label>
        <input matInput placeholder="Publication year" formControlName="published">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Books's page number</mat-label>
        <input matInput placeholder="Pages" formControlName="pages">
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type>Create</button>
  </form>
</div>