<mat-card style="background-color: #f0f9ff" *ngIf="book">
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">menu_book</i>
    </div>
    <mat-card-title>
      <b>{{book.title}}</b>
    </mat-card-title>
    <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      ISBN: {{book.isbn}}
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      Published: {{book.published}}
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      Pages: {{book.pages}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button color="primary" [routerLink]="['/books']">
      <b>Go back</b>
    </a>
  </mat-card-actions>
</mat-card>